# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula** 

Nombre: Ana Sofia Saucedo Garcia

Matricula: 1946646

1. Carga las librerias básicas

In [1]:
##### carga las dos librerias usadas (numpy, pandas ) 

import numpy as np
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [2]:
 ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv')

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [3]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     168 non-null    int64
 1   Mes     168 non-null    object
 2   Ventas  168 non-null    int64
 3   Gasto   168 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.4+ KB

In [4]:
#muestra las primeras 5 filas del dataframe
ventas.head()

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [5]:
## escribe aqui el código
ventas['Ganancias']= ventas['Ventas']-ventas['Gasto']
ventas

      Año         Mes  Ventas  Gasto  Ganancias
0    2010       Enero    1056    533        523
1    2010     Febrero     910    496        414
2    2010       Marzo    1095    695        400
3    2010       Abril    1157    599        558
4    2010        Mayo     969    490        479
..    ...         ...     ...    ...        ...
163  2023      Agosto    1759   1818        -59
164  2023  Septiembre    2114   2142        -28
165  2023     Octubre    2120   1767        353
166  2023   Noviembre    2102   1652        450
167  2023   Diciembre    2166   2192        -26

[168 rows x 5 columns]

4. Encuentra el mes-año con las ganancias más altas, el mes-año con las ventas mas altas, y el mes-año con los costos mas altos

In [6]:
## escribe aqui el código

# Ganancias mas altas con mes-año
Ganancia_alta= ventas.sort_values('Ganancias',ascending=False)
Ganancia_alta.loc[0,['Año','Mes','Ganancias']]

Año           2010
Mes          Enero
Ganancias      523
Name: 0, dtype: object

In [7]:

# Ventas mas altas con mes-año
Ventas_alta= ventas.sort_values('Ventas',ascending=False)
Ventas_alta.loc[0,['Año','Mes','Ventas']]

Año        2010
Mes       Enero
Ventas     1056
Name: 0, dtype: object

In [8]:

# Costo mas alto con mes-año
Gasto_alta= ventas.sort_values('Gasto',ascending=False)
Gasto_alta.loc[0,['Año','Mes','Gasto']]

Año       2010
Mes      Enero
Gasto      533
Name: 0, dtype: object

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [9]:
## escribe aqui el código

Ventas_totales = ventas['Ventas'].sum()
print('Las ventas totales son :', Ventas_totales)

Las ventas totales son : 235731

In [10]:

Gastos_totales = ventas['Gasto'].sum()
print('Los gastos totales son :', Gastos_totales)

Los gastos totales son : 181123

In [11]:

Ganancias_totales = ventas['Ganancias'].sum()
print('Las ganancias totales son :', Ganancias_totales)

Las ganancias totales son : 54608

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [12]:
## escribe aqui el código

# Ventas de cada año 
ventas.groupby('Año')['Ventas'].agg('sum')

Año
2010    12015
2011    12778
2012    12965
2013    14037
2014    14922
2015    14951
2016    15376
2017    17189
2018    18325
2019    18204
2020    18917
2021    21057
2022    21692
2023    23303
Name: Ventas, dtype: int64

In [13]:
# Gastos de cada año 
ventas.groupby('Año')['Gasto'].agg('sum')

Año
2010     6756
2011     7806
2012     8430
2013     8963
2014    10377
2015    10784
2016    11053
2017    12369
2018    14648
2019    14759
2020    16206
2021    17693
2022    18946
2023    22333
Name: Gasto, dtype: int64

In [14]:
# Ganancias de cada año 
ventas.groupby('Año')['Ganancias'].agg('sum')

Año
2010    5259
2011    4972
2012    4535
2013    5074
2014    4545
2015    4167
2016    4323
2017    4820
2018    3677
2019    3445
2020    2711
2021    3364
2022    2746
2023     970
Name: Ganancias, dtype: int64

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [15]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas 

ventas2015= ventas[ventas['Año']== 2015]
ventas2015['Ventas'].mean().round(1)

1245.9

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, enero de 2010, enero de 2011, enero 2012, etc

In [16]:
## escribe aqui el código ventas totales
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas 

ventasEnero= ventas[ventas['Mes']== 'Enero']

ventasEnero['Ventas'].sum()

20073

In [19]:
## escribe aqui el código ventas promedio
ventasEnero = ventas[ventas['Mes']== 'Enero']

ventasEnero['Ventas'].mean()

1433.7857142857142

9. Calcula las ventas promedio por mes, guardalo en un dataframe y por ultimo muestra ordenado por ventas promedio de menor a mayor

In [18]:
## aqui va tu codigo
df_ventas = ventas.groupby('Mes')['Ventas'].agg('mean')

df_ventas.sort_values()

Mes
Junio         1325.714286
Septiembre    1347.357143
Julio         1363.642857
Octubre       1388.285714
Marzo         1394.428571
Febrero       1406.357143
Mayo          1409.714286
Diciembre     1416.642857
Enero         1433.785714
Agosto        1437.857143
Noviembre     1456.642857
Abril         1457.500000
Name: Ventas, dtype: float64